html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #e7e0d0;
  display: flex;
  justify-content: center;
  /*top right bottom left */
  margin: 8px 0px 8px 0px;
  width: 100%;
  height: auto;

}

a{
  text-decoration: none;
  margin: 5px;
  width: 90%;
}
a:link{
  color: black;
}

a:visited{
  color: black;
}
h1{
  text-align: left;
  width: 95%;
}

h3{
  width: 80%;
}

p {
  font-size: 20px;
  text-decoration: none;
  font-weight: 540;
}


.card {
  background-color: #f3ecec;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 10px;
}

.container {
  align-items: center;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  flex-grow: 1;
}
.container:hover{
  background-color: rgb(239, 220, 217);
  box-shadow: 10px 10px rgb(215, 201, 198);
}

.description{
  font-size: 25px;
  width: 90%;
  text-align: start;
  margin: 4px 0px 4px 0px;
}
.links{
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;

}

.logo {
  background-color: rgb(217, 139, 125);
  width: 28px;
  height: 28px;
  padding: 13px;
  margin-left: 3px;
  border-radius: 25px;
}

.picture{
  /*top-right top-left bot-r bot-l */ 
  border-radius: 5px 5px 0px 0px;
  height: 100%;
  width: 100%;

}

.personal_info{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .card{
    width: 40%;
  }
  .description{
    width: 80%;
  }
  h1{
    width: 80%;
  }
  a{
    width: 80%;
  }

}
@media only screen and (max-width: 800px) {
  .card{
    width: 90%;
    margin-bottom: 8px;
  }
  .description{
    width: 80%;
  }
  h1{
    width: 80%;
  }
  a{
    width: 80%;
  }
  
  
}
